<!-- ENCABEZADO DE LA CATEGORÍA CON EL BOTÓN (Manteniendo tus colores) -->
<div class="category-header-flex" style="border-left-color: #ff4b2b;">
    <div class="category-title" style="color: #ff4b2b;">
        <i class="fas fa-tv"></i> PLANES IPTV BASICO
    </div>
    <button type="button" class="btn-accion-extra" onclick="abrirModalBasico()">
        <i class="fas fa-user-shield"></i> CLIENTES CON PANEL
    </button>
</div>

<!-- TU TARJETA DE PRODUCTO (Intacta) -->
<div class="service-item premium oferta" onclick="toggleCarrito(this)">
    <div class="service-card">
        <div class="badge-oferta">EL MUNDIAL POR 👇</div>
        <div class="check-icon">✓</div>
        <div class="img-wrapper">
            <div class="skeleton"></div>
            <img src="{{ url_for('static', filename='img/mundo.webp') }}" class="service-logo" onload="this.classList.add('loaded')">
        </div>
        <div class="service-text">
            <h3 class="nombre-prod">IPTV PREMIUM BASICO(500 creditos)</h3>
            <div class="product-tags">
                <span class="tag-prop"><i class="fas fa-users"></i> 3 Dispositivos</span>
                <span class="tag-prop"><i class="fas fa-star"></i> 104 Partidos</span>
            </div>
        </div>
        <div class="price-container">
            <span class="price-tag precio-prod">S/ 35</span>
        </div>
    </div>
</div>

{% include 'iptv/modalbasico.html' %}