<div class="category-header-flex">
    <h2 class="category-title"><i class="fas fa-tv"></i> PLANES IPTV STANDAR</h2>
    <button type="button" class="btn-accion-extra" onclick="abrirModalPanel()">
        <i class="fas fa-user-shield"></i> CLIENTES CON PANEL
    </button>
</div>

    

    <div class="service-item premium oferta" onclick="toggleCarrito(this)">
        <div class="service-card">
            <div class="badge-oferta">RESELLER</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/lamtv.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV PREMIUM STANDAR (10 creditos)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-users"></i> 1 credito = 1 cuenta 3 dispositivos</span>
                    <span class="tag-prop"><i class="fas fa-star"></i> Panel incluido</span>
                    <span class="tag-prop"><i class="fas fa-star"></i> Crear Demos ilimitados</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 40</span>
                <span class="subtext-precio">a S/ 4.00 cada credito</span>
            </div>
        </div>
    </div>

    <div class="service-item premium oferta" onclick="toggleCarrito(this)">
        <div class="service-card">
            <div class="badge-oferta">RESELLER</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/lamtv.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV PREMIUM STANDAR (50 creditos)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-users"></i> 1 credito = 1 cuenta 3 dispositivos</span>
                    <span class="tag-prop"><i class="fas fa-star"></i> Panel incluido</span>
                    <span class="tag-prop"><i class="fas fa-star"></i> Crear Demos ilimitados</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 190</span>
                <span class="subtext-precio">a S/ 3.80 cada credito</span>
            </div>
        </div>
    </div>

    <div class="service-item premium oferta" onclick="toggleCarrito(this)">
        <div class="service-card">
            <div class="badge-oferta">RESELLER</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/lamtv.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV PREMIUM STANDAR (70 creditos)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-users"></i> 1 credito = 1 cuenta 3 dispositivos</span>
                    <span class="tag-prop"><i class="fas fa-star"></i> Panel incluido</span>
                    <span class="tag-prop"><i class="fas fa-star"></i> Crear Demos ilimitados</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 260</span>
                <span class="subtext-precio">a S/ 3.71 cada credito</span>
            </div>
        </div>
    </div>

    <div class="service-item premium oferta" onclick="toggleCarrito(this)">
        <div class="service-card">
            <div class="badge-oferta">SUPER RESELLER</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/lamtv.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV PREMIUM STANDAR (100 creditos)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-users"></i> 1 credito = 1 cuenta 3 dispositivos</span>
                    <span class="tag-prop"><i class="fas fa-star"></i> Panel incluido</span>
                    <span class="tag-prop"><i class="fas fa-star"></i> Crear Demos ilimitados</span>
                    <span class="tag-prop"><i class="fas fa-star"></i> Puedes crear panel reseller/dsitribuidores</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 360</span>
                <span class="subtext-precio">a S/ 3.60 cada credito</span>
            </div>
        </div>
    </div>

    <div class="service-item premium oferta" onclick="toggleCarrito(this)">
        <div class="service-card">
            <div class="badge-oferta">SUPER RESELLER</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/lamtv.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV PREMIUM STANDAR (350 creditos)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-users"></i> 1 credito = 1 cuenta 3 dispositivos</span>
                    <span class="tag-prop"><i class="fas fa-star"></i> Panel incluido</span>
                    <span class="tag-prop"><i class="fas fa-star"></i> Crear Demos ilimitados</span>
                    <span class="tag-prop"><i class="fas fa-star"></i> Puedes crear panel reseller/dsitribuidores</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 1050</span>
                <span class="subtext-precio">a S/ 3.00 cada credito</span>
            </div>
        </div>
    </div>

    <div class="service-item premium oferta" onclick="toggleCarrito(this)">
        <div class="service-card">
            <div class="badge-oferta">SUPER RESELLER</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/lamtv.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV PREMIUM STANDAR (500 creditos)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-users"></i> 1 credito = 1 cuenta 3 dispositivos</span>
                    <span class="tag-prop"><i class="fas fa-star"></i> Panel incluido</span>
                    <span class="tag-prop"><i class="fas fa-star"></i> Crear Demos ilimitados</span>
                    <span class="tag-prop"><i class="fas fa-star"></i> Puedes crear panel reseller/dsitribuidores</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 1400</span>
                <span class="subtext-precio">a S/ 2.80 cada credito</span>
            </div>
        </div>
    </div>
    

    <div class="category-title"  style="border-left-color: #ff4b2b; color: #ff4b2b;"><i class="fas fa-tv"></i> PLANES IPTV BASICO</div>
    

    <div class="service-item premium oferta" onclick="toggleCarrito(this)">
        <div class="service-card">
            <div class="badge-oferta">EL MUNDIAL POR 👇</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/mundo.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV PREMIUM BASICO(500 creditos)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-users"></i> 3 Dispositivos</span>
                    <span class="tag-prop"><i class="fas fa-star"></i> 104 Partidos</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 35</span>
            </div>
        </div>
    </div>

    {% include 'iptv/modalpanel.html' %}