 <div class="category-title" ><i class="fas fa-laptop-code"></i> DISEÑOS Y MAS</div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card"> 
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/canva.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div> 
            <div class="service-text">
                <h3 class="nombre-prod">CANVA PRO (1 mes)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-graduation-cap"></i> Plan EDU</span>
                    <span class="tag-prop"><i class="fas fa-envelope-open-text"></i> Invitación  a tu correo Correo</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 5</span></div>
        </div>
    </div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card"> 
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/canva.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div> 
            <div class="service-text">
                <h3 class="nombre-prod">CANVA PRO (3 meses)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-graduation-cap"></i> Plan EDU</span>
                    <span class="tag-prop"><i class="fas fa-envelope-open-text"></i> Invitación  a tu correo Correo</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 12</span></div>
        </div>
    </div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card"> 
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/canva.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div> 
            <div class="service-text">
                <h3 class="nombre-prod">CANVA PRO (6 meses)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-graduation-cap"></i> Plan EDU</span>
                    <span class="tag-prop"><i class="fas fa-envelope-open-text"></i> Invitación  a tu correo Correo</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 17</span></div>
        </div>
    </div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card"> 
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/canva.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div> 
            <div class="service-text">
                <h3 class="nombre-prod">CANVA PRO (12 meses)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-graduation-cap"></i> Plan EDU</span>
                    <span class="tag-prop"><i class="fas fa-envelope-open-text"></i> Invitación  a tu correo Correo</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 25</span></div>
        </div>
    </div>