<div class="category-title" ><i class="fas fa-tv"></i> IPTV Y FLUJO TV</div>

        <div class="service-item " data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">EL MUNDIAL POR 👇</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/iptv.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV Smarters Standar (1 dis)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +6500 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +2300 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +25000 Peliculas</span>
                    <span class="tag-prop"><i class="fas fa-users"></i> Para 1 Dispositivo simultaneamente</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 10</span></div>
        </div>
    </div>

    <div class="service-item " data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">EL MUNDIAL POR 👇</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/iptv.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV Smarters Standar (3 dis)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +6500 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +2300 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +25000 Peliculas</span>
                    <span class="tag-prop"><i class="fas fa-users"></i> Para 3 Dispositivos simultaneamente</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 13</span></div>
        </div>
    </div>


    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/iptv.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV Smarters Standar (3 meses)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +6500 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +2300 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +25000 Peliculas</span>
                    <span class="tag-prop"><i class="fas fa-users"></i> Para 3 Dispositivos simultaneamente</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 28</span></div>
        </div>
    </div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/iptv.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV Smarters Standar (6 meses)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +6500 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +2300 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +25000 Peliculas</span>
                    <span class="tag-prop"><i class="fas fa-users"></i> Para 3 Dispositivos simultaneamente</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 54</span></div>
        </div>
    </div>

    <div class="service-item oferta" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/iptv.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV Smarters Standar (12 meses)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +6500 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +2300 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +25000 Peliculas</span>
                    <span class="tag-prop"><i class="fas fa-users"></i> Para 3 Dispositivos simultaneamente</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 85</span></div>
        </div>
    </div>

    <div class="service-item " data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">EL MUNDIAL POR 👇</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/mundo.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV Smarters basico(3 dis)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +3500 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +1700 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +18000 Peliculas</span>
                    <span class="tag-prop"><i class="fas fa-users"></i> Para 3 Dispositivos simultaneamente</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 12</span></div>
        </div>
    </div>
        
        
    <div class="service-item premium " data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">EL MUNDIAL POR 👇</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/iptvp.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV Premium (3 dis)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +9500 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +3000 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +40000 Peliculas</span>
                    <span class="tag-prop"><i class="fas fa-users"></i> Para 3 Dispositivos simultaneamente</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 25</span></div>
        </div>
    </div>

    <div class="service-item " data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">EL MUNDIAL POR 👇</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/flujo.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">Magis TV-Flujo TV</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-desktop"></i> para 1 dispositivo</span>
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +1000 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +3000 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +40000 Peliculas</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 12</span></div>
        </div>
    </div>

    <div class="service-item " data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">EL MUNDIAL POR 👇</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/flujo.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">Magis TV-Flujo TV CUENTA COMPLETA</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-desktop"></i> para 3 dispositivos simultaneamente</span>
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +1000 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +3000 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +40000 Peliculas</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 25</span></div>
        </div>
    </div>