<div class="category-title"><i class="fas fa-film"></i> STREAMING Y CINE</div>

    <div class="service-item oferta premium" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)">
        <div class="service-card">
            <div class="badge-oferta">🔥 MÁS SOLICITADO</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/netflix.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">NETFLIX PREMIUM PERFIL</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-video"></i> Ultra HD 4K</span>
                    <span class="tag-prop"><i class="fas fa-desktop"></i> 1 Pantalla en simultaneo</span>
                    <span class="tag-prop"><i class="fas fa-sync-alt"></i> Renovable(no pierdes historial si deseas)</span>
                    <span class="tag-prop"><i class="fas fa-house-signal"></i> Activación por codigo (celular,tv o pc)</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ ...</span>
                <div class="stock-badge" data-plataforma="NETFLIX" data-tipo="perfil">
                 <i class="fas fa-box"></i> Stock: <span>...</span>
                </div>
            </div>
        </div>
    </div>

    <div class="service-item oferta premium" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)">
        <div class="service-card">
            <div class="badge-oferta">MUY SOLICITADO 🎁</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/disneyp.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">Disney Premium</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-house-signal"></i> Activacion por codigo(clientes nuevos ) </span>
                    <span class="tag-prop"><i class="fas fa-futbol"></i> Con Canales ESPN</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> Calidad premium 4K</span>
                    <span class="tag-prop"><i class="fas fa-eye-slash"></i> Perfil privado</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 12</span>
                <div class="stock-badge" data-plataforma="disney premium" data-tipo="perfil">
                 <i class="fas fa-box"></i> Stock: <span>...</span>
                </div>
            </div>
        </div>
    </div>
 
    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/disneys.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">Disney Premium (Sin ESPN)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-circle-xmark"></i> Sin ESPN</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> Calidad premium 4K</span>
                    <span class="tag-prop"><i class="fas fa-lock"></i> PIN privado</span>
                    <span class="tag-prop"><i class="fas fa-house-signal"></i> Activacion por codigo(clientes nuevos ) </span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 8</span>
                <div class="stock-badge" data-plataforma="disney plus" data-tipo="perfil">
                 <i class="fas fa-box"></i> Stock: <span>...</span>
                </div>
            </div>
        </div>
    </div>

        <div class="service-item  oferta" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">Dsports disponible</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/paramount.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">PARAMOUNT STANDARD PERFIL</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-calendar-alt"></i> Alquiler Mensual</span>
                    <span class="tag-prop"><i class="fas fa-star"></i>Resoluciion FULL HD</span>
                    <span class="tag-prop"><i class="fas fa-user"></i> para 1 dispositivo </span>
                    <span class="tag-prop"><i class="fas fa-ticket-alt"></i> Estrenos y deportes en vivo</span>
                    <span class="tag-prop"><i class="fas fa-futbol"></i> CANALES DSPORTS En Vivo</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 8</span>
                <div class="stock-badge" data-plataforma="paramount" data-tipo="perfil">
                 <i class="fas fa-box"></i> Stock: <span>...</span>
                </div>
            </div>
        </div>
    </div>
        
        <div class="service-item premium oferta" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">Dsports disponible</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/paramount.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">PARAMOUNT PREMIUM PERFIL</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-calendar-alt"></i> Alquiler Mensual</span>
                    <span class="tag-prop"><i class="fas fa-star"></i>Resolucion premium 4K</span>
                    <span class="tag-prop"><i class="fas fa-user"></i> para 1 dispositivo </span>
                    <span class="tag-prop"><i class="fas fa-ticket-alt"></i> Estrenos y deportes en vivo</span>
                    <span class="tag-prop"><i class="fas fa-futbol"></i> CANALES DSPORTS En Vivo</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 8</span>
                <div class="stock-badge" data-plataforma="paramount premium" data-tipo="perfil">
                 <i class="fas fa-box"></i> Stock: <span>...</span>
                </div>
            </div>
        </div>
    </div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/max.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">Hbo Max Standard</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-calendar-alt"></i> Alquiler Mensual</span>
                    <span class="tag-prop"><i class="fas fa-star"></i>Resolucion full HD</span>
                    <span class="tag-prop"><i class="fas fa-user"></i> para 1 dispositivo </span>
                    <span class="tag-prop"><i class="fas fa-eye-slash"></i> Perfil privado</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 5</span>
                <div class="stock-badge" data-plataforma="max" data-tipo="perfil">
                 <i class="fas fa-box"></i> Stock: <span>...</span>
                </div>
            </div>
        </div>
    </div>
   
    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/max.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">Hbo MAX Platino</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-calendar-alt"></i> Alquiler Mensual</span>
                    <span class="tag-prop"><i class="fas fa-star"></i>Resolucion premium 4K</span>
                    <span class="tag-prop"><i class="fas fa-user"></i> para 1 dispositivo </span>
                    <span class="tag-prop"><i class="fas fa-eye-slash"></i> Perfil privado</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 8</span> 
                <div class="stock-badge" data-plataforma="max platino" data-tipo="perfil">
                 <i class="fas fa-box"></i> Stock: <span>...</span>
                </div>
            </div>
        </div>
    </div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/prime.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">PRIME VIDEO (TV)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-user"></i>  Perfil Privado </span>
                    <span class="tag-prop"><i class="fas fa-house-signal"></i> activacion a tv(por codigo)</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> Resolucion 4K</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 5</span>
                <div class="stock-badge" data-plataforma="amazon prime" data-tipo="perfil">
                 <i class="fas fa-box"></i> Stock: <span>...</span>
                </div>
            </div>
        </div>
    </div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/prime.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">PRIME VIDEO</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-user"></i>  Perfil Privado </span>
                    <span class="tag-prop"><i class="fas fa-envelope"></i> Se entrega correo y contraseña</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> Resolucion 4K</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 8</span>
                <div class="stock-badge" data-plataforma="prime video" data-tipo="perfil">
                 <i class="fas fa-box"></i> Stock: <span>...</span>
                </div>
            </div>
        </div>
    </div>

    <div class="service-item premium" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/vix.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">VIX PREMIUM</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-calendar-alt"></i> Alquiler Mensual</span>
                    <span class="tag-prop"><i class="fas fa-user"></i>  Perfil Privado </span>
                    <span class="tag-prop"><i class="fas fa-user"></i> para 1 dispositivo </span>
                    <span class="tag-prop"><i class="fas fa-video"></i> Resolucion Full HD</span>
                    
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 5</span>
                <div class="stock-badge" data-plataforma="vix premium" data-tipo="perfil">
                 <i class="fas fa-box"></i> Stock: <span>...</span>
                </div>
            </div>
        </div>
    </div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/crunchyroll.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">CRUNCHYROLL PERFIL</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-calendar-alt"></i> Alquiler Mensual</span>
                    <span class="tag-prop"><i class="fas fa-user"></i>  Perfil Privado </span>
                    <span class="tag-prop"><i class="fas fa-user"></i> para 1 dispositivo </span>
                    <span class="tag-prop"><i class="fas fa-video"></i> Resolucion Full HD</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 5</span>
                <div class="stock-badge" data-plataforma="crunchyroll" data-tipo="perfil">
                 <i class="fas fa-box"></i> Stock: <span>...</span>
                </div>
            </div>
        </div>
    </div>