<div class="category-title" ><i class="fas fa-satellite-dish"></i> TELEVISIÓN DIGITAL</div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card"> 
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/movistar.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div> 
            <div class="service-text">
                <h3 class="nombre-prod">Movistar Play + Liga 1 Max</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-house-signal"></i> Activacion por codigo</span>
                    <span class="tag-prop"><i class="fas fa-futbol"></i> Todo los canales ESPN</span>
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +90 Canales</span>
                    <span class="tag-prop"><i class="fas fa-circle-check"></i> Canal L1max disponible</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/20</span>
                
                <div class="stock-badge" data-plataforma="MOVISTAR PLAY">
                 <i class="fas fa-box"></i> Stock: <span>...</span>
                </div>
            </div>
        </div>
    </div>

        <div class="service-item " data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">EL MUNDIAL POR 👇</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/dgo.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">DIRECTVGO + l1 Max</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-house-signal"></i> Activacion por codigo</span>
                    <span class="tag-prop"><i class="fas fa-futbol"></i> Todo los canales ESPN</span>
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +97 Canales</span>
                    <span class="tag-prop"><i class="fas fa-circle-check"></i> Canal L1max disponible</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 20</span>
                
                <div class="stock-badge" data-plataforma="DGO CON LIGA">
                 <i class="fas fa-box"></i> Stock: <span>...</span>
                </div>
            </div>
        </div>
    </div>