<!-- ESTILOS MODULARIZADOS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/1_variables.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/2_animaciones.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/3_header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/4_tarjetas.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/5_carrito.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/6_modales.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/7_toasts_botones.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/8_responsive.css') }}">