<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex Store | Streaming VIP</title>

    <!-- ANTI-CACHÉ GLOBAL -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    
    <link rel="icon" type="image/webp" href="{{ url_for('static', filename='img/logo.webp') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/logo.webp') }}">
    <meta name="apple-mobile-web-app-title" content="Alex Store">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#050505">

    <!-- ========================================== -->
    <!-- META ETIQUETAS PARA WHATSAPP Y REDES (Open Graph) -->
    <!-- ========================================== -->
    <meta property="og:title" content="Alex Store | Streaming VIP">
    <meta property="og:description" content="Adquiere tus cuentas de Streaming, perfiles VIP e IPTV al mejor precio y con entrega inmediata.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.url }}">
    
    <!-- 🔥 LA MAGIA ESTÁ AQUÍ: _external=True crea el link completo (https://...) que exige WhatsApp -->
    <meta property="og:image" content="{{ url_for('static', filename='img/logo.png', _external=True) }}">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="400">
    <meta property="og:image:type" content="image/png">
    

    <!-- Enlazar tu hoja de estilos desde Flask -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">