<div class="category-title" ><i class="fas fa-user-circle"></i>IPTV Y FLUJO</div>

    <div class="service-item " onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">EL MUNDIAL POR 👇</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/lamtv.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV STANDAR CUENTA COMPLETA</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +6500 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +2300 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +25000 Peliculas</span>
                    <span class="tag-prop"><i class="fas fa-users"></i> Para 3 Dispositivos simultaneamente</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 7</span>
            </div>
        </div>
    </div>

    <div class="service-item premium" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">EL MUNDIAL POR 👇</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/iptvp.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV PREMIUM CUENTA COMPLETA</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +9500 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +3000 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +40000 Peliculas</span>
                    <span class="tag-prop"><i class="fas fa-users"></i> Para 3 Dispositivos simultaneamente</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 15</span>
            </div>
        </div>
    </div>

    <div class="service-item " onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">EL MUNDIAL POR 👇</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/flujo.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">FLUJO TV PERFIL</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-desktop"></i> para 1 dispositivo</span>
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +1000 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +3000 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +40000 Peliculas</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 8</span>
            </div>
        </div>
    </div>

    <div class="service-item " onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">EL MUNDIAL POR 👇</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/flujo.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">FLUJO TV CUENTA COMPLETA</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +10000 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +3000 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +40000 Peliculas</span>
                    <span class="tag-prop"><i class="fas fa-users"></i> Para 3 Dispositivos simultaneamente</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 13</span>
            </div>
        </div>
    </div>