<div class="category-title" ><i class="fas fa-music"></i> MUSICA</div>

    <div class="service-item premium oferta disponible" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">🔥</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/spotify.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">SPOTIFY PREMIUM (1 mes)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-calendar-alt"></i> 1 Mes</span>
                    <span class="tag-prop"><i class="fas fa-envelope"></i> Cuenta Indivudual</span>
                    <span class="tag-prop"><i class="fas fa-spotify"></i> Plan Premium</span>
                    <span class="tag-prop"><i class="fas fa-sync-alt"></i> Renovable </span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 6.50</span>
                <div class="stock-badge" data-plataforma="spotify premium" data-tipo="cuenta">
                <i class="fas fa-box"></i> Stock: <span>...</span>
                </div>
            </div>
        </div>
    </div>

    <div class="service-item premium oferta disponible" onclick="toggleCarrito(this)" >
        <div class="service-card">
            <div class="badge-oferta">🔥</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/spotify.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">SPOTIFY PREMIUM (3 meses)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-calendar-alt"></i> 3 Meses</span>
                    <span class="tag-prop"><i class="fas fa-envelope"></i> Cuenta Indivudual</span>
                    <span class="tag-prop"><i class="fas fa-spotify"></i> Plan Premium</span>
                    <span class="tag-prop"><i class="fas fa-sync-alt"></i> Renovable </span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 17</span>
                <div class="stock-badge" data-plataforma="spotify premium" data-tipo="cuenta">
                <i class="fas fa-box"></i> Stock: <span>...</span>
                </div>
            </div>
        </div>
    </div>