<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'titulos/head.html' %}
</head>
<body>

{% block content %}
{% endblock %}

<div class="particles-container">
    <div class="particle"></div><div class="particle"></div>
    <div class="particle"></div><div class="particle"></div><div class="particle"></div>
</div>
<div id="toast-container"></div>
<button id="back-to-top" title="Volver Arriba"><i class="fas fa-chevron-up"></i></button>

{% include 'componentesba/carrito.html' %}
{% include 'componentesba/modalclientes.html' %}
{% include 'componentesba/modal_pedido.html' %}
{% include 'componentesba/login.html' %}
{% include 'componentesba/faq.html' %}
{% include 'componentesba/sidebars.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.2/vanilla-tilt.min.js"></script>

<script src="{{ url_for('static', filename='js/1_acceso_global.js') }}"></script>
<script src="{{ url_for('static', filename='js/2_interfaz_filtros.js') }}"></script>
<script src="{{ url_for('static', filename='js/3_carrito_compras.js') }}"></script>
<script src="{{ url_for('static', filename='js/4_whatsapp_pedidos.js') }}"></script>
<script src="{{ url_for('static', filename='js/5_google_sheets.js') }}"></script>
<script src="{{ url_for('static', filename='js/6_modales_faq.js') }}"></script>
<script src="{{ url_for('static', filename='js/7_efectos_animaciones.js') }}"></script>
<script src="{{ url_for('static', filename='js/8_arranque_restauracion.js') }}"></script>
{% block scripts %}{% endblock %}

</body>
</html>