{% extends "base.html" %}

<!-- ELIMINAMOS EL BLOQUE DE CUSTOM CSS PORQUE YA TODO VIVE EN BASE.CSS -->

{% block content %}
<!-- Encabezado para Clientes -->
<header data-aos="fade-down">
    <img src="{{ url_for('static', filename='img/logo.webp') }}" class="brand-logo">
    <h1>CATÁLOGO CLIENTES</h1>
    <div class="trust-bar">
        <div class="trust-item"><i class="fas fa-headset"></i>Soporte 24/7</div>
        <div class="trust-item"><i class="fas fa-shield-alt"></i>Garantía Total</div>
        <div class="trust-item"><i class="fas fa-bolt"></i>Entrega Rápida</div>
    </div>
</header>

<!-- Botones de navegación superior -->
<div class="container contenedor-navegacion-superior">
    <div class="grid-botones" data-aos="zoom-in">
        <a href="{{ url_for('main.inicio') }}" class="btn-universal btn-home"><i class="fas fa-home"></i> Volver Atras</a>
        <a href="{{ url_for('clientes.promociones') }}" class="btn-universal btn-promo"><i class="fas fa-fire"></i> PROMOCIONES</a>
    </div>
    
    <div class="grid-botones botones-segunda-fila" data-aos="zoom-in">
        <a href="https://drive.google.com/file/d/1MPAECoht01Udr-oa7NcerexfZMC6h-5i/view?usp=sharing" class="btn-universal btn-referencias" target="_blank"><i class="fas fa-star"></i> REFERENCIAS</a>
        <a href="https://chat.whatsapp.com/Dhp57nuChw89kT6pb5kggS" class="btn-universal btn-comunidad" target="_blank"><i class="fas fa-users"></i> COMUNIDAD</a>
    </div>
</div>
    
<!-- Buscador y Filtros -->
<div class="search-container-wrapper">
    <div class="search-container">
        <!-- Buscador con evento onkeyup -->
        <input type="text" id="search-input" placeholder="Buscar plataforma..." autocomplete="off" onkeyup="filtrarPlataformas()">
        <i class="fas fa-search"></i>
        
        <div class="filter-wrapper">
            <!-- Flecha Izquierda -->
            <div class="scroll-indicator" onclick="scrollFilters(-100)"><i class="fas fa-chevron-left"></i></div>
            
            <!-- Botones de Filtro con onclick -->
            <div class="filter-container" id="filterScroll">
                <button class="btn-nav active" onclick="filtrarCategoria('TODOS', this)">TODOS</button>
                <button class="btn-nav" onclick="filtrarCategoria('STREAMING Y CINE', this)"><i class="fas fa-trophy"></i> PERFILES</button>
                <button class="btn-nav" onclick="filtrarCategoria('DISEÑOS Y MAS', this)">DISEÑO</button>
                <button class="btn-nav" onclick="filtrarCategoria('TELEVISIÓN DIGITAL', this)">TV DIGITAL</button>
                <button class="btn-nav" onclick="filtrarCategoria('IPTV Y FLUJO TV', this)">IPTV</button>
                <button class="btn-nav" onclick="filtrarCategoria('APPS PARA IPTV', this)">APPS</button>
                <button class="btn-nav" onclick="filtrarCategoria('MÚSICA Y VIDEO', this)">MÚSICA</button>
            </div>
            
            <!-- Flecha Derecha -->
            <div class="scroll-indicator" onclick="scrollFilters(100)"><i class="fas fa-chevron-right"></i></div>
        </div>
        
        <!-- Botones de Vista Cuadrícula/Lista -->
        <div class="view-controls">
            <button class="btn-view active" onclick="cambiarVista('lista', this)"><i class="fas fa-list"></i></button>
            <button class="btn-view" onclick="cambiarVista('grid', this)"><i class="fas fa-th-large"></i></button>
        </div>
    </div>
</div>

<!-- Contenedor de las tarjetas -->
<div class="container" id="product-container">
    <div class="category-title" data-aos="fade-right"><i class="fas fa-film"></i> STREAMING Y CINE</div>

    <div class="service-item oferta premium" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">🔥 MÁS SOLICITADO</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/netflix.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">NETFLIX PREMIUM PERFIL</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-video"></i> Ultra HD 4K</span>
                    <span class="tag-prop"><i class="fas fa-desktop"></i> 1 Pantalla en simultaneo</span>
                    <span class="tag-prop"><i class="fas fa-sync-alt"></i> Renovable(no pierdes historial si deseas)</span>
                    <span class="tag-prop"><i class="fas fa-house-signal"></i> Activación por codigo (celular,tv o pc)</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 16</span>
                <div class="sin-stock-badge">SIN STOCK</div>
            </div>
        </div>
    </div>

    <div class="service-item oferta premium" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">MUY SOLICITADO 🎁</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/disneyp.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">Disney Premium</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-house-signal"></i> Activacion por codigo(clientes nuevos ) </span>
                    <span class="tag-prop"><i class="fas fa-futbol"></i> Con Canales ESPN</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> Calidad premium 4K</span>
                    <span class="tag-prop"><i class="fas fa-eye-slash"></i> Perfil privado</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 12</span>
                <div class="sin-stock-badge">SIN STOCK</div>
            </div>
        </div>
    </div>
 
    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/disneys.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">Disney Premium (Sin ESPN)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-circle-xmark"></i> Sin ESPN</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> Calidad premium 4K</span>
                    <span class="tag-prop"><i class="fas fa-lock"></i> PIN privado</span>
                    <span class="tag-prop"><i class="fas fa-house-signal"></i> Activacion por codigo(clientes nuevos ) </span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 7</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>

        <div class="service-item  oferta" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">Dsports disponible</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/paramount.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">PARAMOUNT STANDARD PERFIL</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-calendar-alt"></i> Alquiler Mensual</span>
                    <span class="tag-prop"><i class="fas fa-star"></i>Resoluciion FULL HD</span>
                    <span class="tag-prop"><i class="fas fa-user"></i> para 1 dispositivo </span>
                    <span class="tag-prop"><i class="fas fa-ticket-alt"></i> Estrenos y deportes en vivo</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 5</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>
        
        <div class="service-item premium oferta" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">Dsports disponible</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/paramount.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">PARAMOUNT PREMIUM PERFIL</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-calendar-alt"></i> Alquiler Mensual</span>
                    <span class="tag-prop"><i class="fas fa-star"></i>Resolucion premium 4K</span>
                    <span class="tag-prop"><i class="fas fa-user"></i> para 1 dispositivo </span>
                    <span class="tag-prop"><i class="fas fa-ticket-alt"></i> Estrenos y deportes en vivo</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 8</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/max.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">Hbo Max Standard</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-calendar-alt"></i> Alquiler Mensual</span>
                    <span class="tag-prop"><i class="fas fa-star"></i>Resolucion full HD</span>
                    <span class="tag-prop"><i class="fas fa-user"></i> para 1 dispositivo </span>
                    <span class="tag-prop"><i class="fas fa-eye-slash"></i> Perfil privado</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 5</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>
   
    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/max.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">Hbo MAX Platino</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-calendar-alt"></i> Alquiler Mensual</span>
                    <span class="tag-prop"><i class="fas fa-star"></i>Resolucion premium 4K</span>
                    <span class="tag-prop"><i class="fas fa-user"></i> para 1 dispositivo </span>
                    <span class="tag-prop"><i class="fas fa-eye-slash"></i> Perfil privado</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 8</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/prime.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">PRIME VIDEO (TV)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-user"></i>  Perfil Privado </span>
                    <span class="tag-prop"><i class="fas fa-house-signal"></i> activacion a tv(por codigo)</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> Resolucion 4K</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 5</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/prime.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">PRIME VIDEO</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-user"></i>  Perfil Privado </span>
                    <span class="tag-prop"><i class="fas fa-house-envelope"></i> Se entrega correo y contraseña</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> Resolucion 4K</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 8</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>

    <div class="service-item premium" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/vix.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">VIX PREMIUM</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-calendar-alt"></i> Alquiler Mensual</span>
                    <span class="tag-prop"><i class="fas fa-user"></i>  Perfil Privado </span>
                    <span class="tag-prop"><i class="fas fa-user"></i> para 1 dispositivo </span>
                    <span class="tag-prop"><i class="fas fa-video"></i> Resolucion Full HD</span>
                    
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 5</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/crunchyroll.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">CRUNCHYROLL</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-calendar-alt"></i> Alquiler Mensual</span>
                    <span class="tag-prop"><i class="fas fa-user"></i>  Perfil Privado </span>
                    <span class="tag-prop"><i class="fas fa-user"></i> para 1 dispositivo </span>
                    <span class="tag-prop"><i class="fas fa-video"></i> Resolucion Full HD</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 6</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>

    <div class="category-title" data-aos="fade-right"><i class="fas fa-laptop-code"></i> DISEÑOS Y MAS</div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card"> 
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/canva.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div> 
            <div class="service-text">
                <h3 class="nombre-prod">CANVA PRO (1 mes)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-graduation-cap"></i> Plan EDU</span>
                    <span class="tag-prop"><i class="fas fa-envelope-open-text"></i> Invitación  a tu correo Correo</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 5</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card"> 
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/canva.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div> 
            <div class="service-text">
                <h3 class="nombre-prod">CANVA PRO (3 meses)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-graduation-cap"></i> Plan EDU</span>
                    <span class="tag-prop"><i class="fas fa-envelope-open-text"></i> Invitación  a tu correo Correo</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 12</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card"> 
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/canva.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div> 
            <div class="service-text">
                <h3 class="nombre-prod">CANVA PRO (6 meses)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-graduation-cap"></i> Plan EDU</span>
                    <span class="tag-prop"><i class="fas fa-envelope-open-text"></i> Invitación  a tu correo Correo</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 17</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card"> 
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/canva.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div> 
            <div class="service-text">
                <h3 class="nombre-prod">CANVA PRO (12 meses)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-graduation-cap"></i> Plan EDU</span>
                    <span class="tag-prop"><i class="fas fa-envelope-open-text"></i> Invitación  a tu correo Correo</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 25</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>
     
    <div class="category-title" data-aos="fade-right"><i class="fas fa-satellite-dish"></i> TELEVISIÓN DIGITAL</div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card"> 
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/movistar.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div> 
            <div class="service-text">
                <h3 class="nombre-prod">Movistar Play + Liga 1 Max</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-house-signal"></i> Activacion por codigo</span>
                    <span class="tag-prop"><i class="fas fa-futbol"></i> Todo los canales ESPN</span>
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +90 Canales</span>
                    <span class="tag-prop"><i class="fas fa-circle-check"></i> Canal L1max disponible</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 20</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>

        <div class="service-item " data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">EL MUNDIAL POR 👇</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/dgo.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">DIRECTVGO + l1 Max</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-house-signal"></i> Activacion por codigo</span>
                    <span class="tag-prop"><i class="fas fa-futbol"></i> Todo los canales ESPN</span>
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +97 Canales</span>
                    <span class="tag-prop"><i class="fas fa-circle-check"></i> Canal L1max disponible</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 20</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>
        
    <div class="category-title" data-aos="fade-right"><i class="fas fa-tv"></i> IPTV Y FLUJO TV</div>

        <div class="service-item " data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">EL MUNDIAL POR 👇</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/iptv.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV Smarters Standar (1 dis)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +6500 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +2300 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +25000 Peliculas</span>
                    <span class="tag-prop"><i class="fas fa-users"></i> Para 1 Dispositivo simultaneamente</span>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 10</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>

    <div class="service-item " data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">EL MUNDIAL POR 👇</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/iptv.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV Smarters Standar (3 dis)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +6500 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +2300 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +25000 Peliculas</span>
                    <span class="tag-prop"><i class="fas fa-users"></i> Para 3 Dispositivos simultaneamente</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 13</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>


         <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/iptv.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV Smarters Standar (3 meses)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +6500 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +2300 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +25000 Peliculas</span>
                    <span class="tag-prop"><i class="fas fa-users"></i> Para 3 Dispositivos simultaneamente</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 28</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>

    <div class="service-item" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/iptv.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV Smarters Standar (6 meses)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +6500 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +2300 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +25000 Peliculas</span>
                    <span class="tag-prop"><i class="fas fa-users"></i> Para 3 Dispositivos simultaneamente</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 54</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>

    <div class="service-item oferta" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/iptv.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV Smarters Standar (12 meses)+ 1 licencia IBOpro gratis por 1 año</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +6500 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +2300 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +25000 Peliculas</span>
                    <span class="tag-prop"><i class="fas fa-users"></i> Para 3 Dispositivos simultaneamente</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 85</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>
     <div class="service-item " data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">EL MUNDIAL POR 👇</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/mundo.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV Smarters basico(3 dis)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +3500 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +1700 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +18000 Peliculas</span>
                    <span class="tag-prop"><i class="fas fa-users"></i> Para 3 Dispositivos simultaneamente</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 12</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>
        
        
    <div class="service-item premium " data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">EL MUNDIAL POR 👇</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/iptvp.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV Premium (3 dis)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +9500 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +3000 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +40000 Peliculas</span>
                    <span class="tag-prop"><i class="fas fa-users"></i> Para 3 Dispositivos simultaneamente</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 25</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>

    <div class="service-item " data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">EL MUNDIAL POR 👇</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/flujo.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">Magis TV-Flujo TV</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-desktop"></i> para 1 dispositivo</span>
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +1000 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +3000 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +40000 Peliculas</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 12</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>

    <div class="service-item " data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">EL MUNDIAL POR 👇</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/flujo.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">Magis TV-Flujo TV CUENTA COMPLETA</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-desktop"></i> para 3 dispositivos simultaneamente</span>
                    <span class="tag-prop"><i class="fas fa-list-ol"></i> +1000 Canales</span>
                    <span class="tag-prop"><i class="fas fa-tv"></i> +3000 Series</span>
                    <span class="tag-prop"><i class="fas fa-video"></i> +40000 Peliculas</span>
                </div>
            </div>
            <div class="price-container"><span class="price-tag precio-prod">S/ 25</span><div class="sin-stock-badge">SIN STOCK</div></div>
        </div>
    </div>

<div class="category-title" data-aos="fade-right"><i class="fas fa-box"></i> APPS PARA IPTV</div>

    <div class="service-item premium" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/ibo.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IBO PLAYER (12 meses)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-key"></i> Licencia por 1 Año</span>
                    <span class="tag-prop"><i class="fas fa-circle-check"></i> Solo Activamos la aplicacion </span>
                    <span class="tag-prop"><i class="fas fa-video-slash"></i> No contiene la lista de canales y peliculas(ese servicio es aparte)</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 20</span>
                <div class="sin-stock-badge">SIN STOCK</div>
            </div>
        </div>
    </div>    

    <div class="service-item premium" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/ibopro.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IBOPRO PLAYER (12 meses)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-key"></i> Licencia por 1 Año</span>
                    <span class="tag-prop"><i class="fas fa-circle-check"></i> Solo Activamos la aplicacion </span>
                    <span class="tag-prop"><i class="fas fa-video-slash"></i> No contiene la lista de canales y peliculas(ese servicio es aparte)</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 20</span>
                <div class="sin-stock-badge">SIN STOCK</div>
            </div>
        </div>
    </div>    

    <div class="service-item premium" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/one.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">SMARTONE IPTV (12 meses)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-key"></i> Licencia por 1 Año</span>
                    <span class="tag-prop"><i class="fas fa-circle-check"></i> Solo Activamos la aplicacion </span>
                    <span class="tag-prop"><i class="fas fa-video-slash"></i> No contiene la lista de canales y peliculas(ese servicio es aparte)</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 20</span>
                <div class="sin-stock-badge">SIN STOCK</div>
            </div>
        </div>
    </div>    
        
<div class="category-title" data-aos="fade-right"><i class="fas fa-music"></i> MÚSICA Y VIDEO SIN LÍMITES</div>

    <div class="service-item premium" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/spotify.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">Spotify Premium (1 mes)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-calendar-alt"></i> 1 Mes</span>
                    <span class="tag-prop"><i class="fas fa-envelope"></i> Cuenta Indivudual</span>
                    <span class="tag-prop"><i class="fas fa-spotify"></i> Plan Premium</span>
                    <span class="tag-prop"><i class="fas fa-sync-alt"></i> Renovable </span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 8</span>
                <div class="sin-stock-badge">SIN STOCK</div>
            </div>
        </div>
    </div>

    <div class="service-item premium" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">En Oferta 🎁</div> <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/spotify.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">Spotify Premium (3 meses)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-calendar-alt"></i> 1 Mes</span>
                    <span class="tag-prop"><i class="fas fa-envelope"></i> Cuenta Indivudual</span>
                    <span class="tag-prop"><i class="fas fa-spotify"></i> Plan Premium</span>
                    <span class="tag-prop"><i class="fas fa-sync-alt"></i> Renovable </span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 22</span>
                <div class="sin-stock-badge">SIN STOCK</div>
            </div>
        </div>
    </div>

    <div class="service-item premium" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">MÁS SOLICITADO 🔥</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/youtube.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">Youtube Premium (1 mes)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-calendar-alt"></i> 1 Mes</span>
                    <span class="tag-prop"><i class="fas fa-user"></i> Cuenta Indivudual</span>
                    <span class="tag-prop"><i class="fas fa-envelope"></i> Solo a correos nuevos(tiene que crear correo nuevo )(me manda correo y contraseña)</span>
                    <span class="tag-prop"><i class="fas fa-spotify"></i> Plan Premium</span>
                    <span class="tag-prop"><i class="fas fa-circle-xmark"></i> No Renovable </span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 8</span>
                <div class="sin-stock-badge">SIN STOCK</div>
            </div>
        </div>
    </div>

    <div class="service-item premium" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">MÁS SOLICITADO 🔥</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/youtube.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">Youtube Premium (3 meses)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-calendar-alt"></i> 3 Meses</span>
                    <span class="tag-prop"><i class="fas fa-user"></i> Cuenta Indivudual</span>
                    <span class="tag-prop"><i class="fas fa-envelope"></i> Solo a correos nuevos(tiene que crear correo nuevo )(me manda correo y contraseña)</span>
                    <span class="tag-prop"><i class="fas fa-spotify"></i> Plan Premium</span>
                    <span class="tag-prop"><i class="fas fa-circle-xmark"></i> No Renovable </span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 22</span>
                <div class="sin-stock-badge">SIN STOCK</div>
            </div>
        </div>
    </div>

    <div class="service-item premium oferta agotado" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-glare="true" data-tilt-max-glare="0.2" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">MÁS SOLICITADO 🔥</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/youtube.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">Youtube Premium (1 mes)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-sync-alt"></i> Renovable</span>
                    <span class="tag-prop"><i class="fas fa-ad"></i> Sin Ads</span>
                    <span class="tag-prop"><i class="fas fa-user-plus"></i> Invitación Plan</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 15</span>
                <div class="sin-stock-badge">SIN STOCK</div>
            </div>
        </div>
    </div>
</div>

<!-- ELIMINAMOS EL BLOQUE DE CUSTOM JS PORQUE YA TODO VIVE EN BASE.JS -->

{% endblock %}