{% extends "base.html" %}

{% block content %}
<header data-aos="fade-down">
    <img src="{{ url_for('static', filename='img/logo.webp') }}" class="brand-logo">
    <h1 style="background: var(--gold-gradient); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">PROMOS MAYORISTAS</h1>
    <p style="color: var(--vip); font-size: 0.9rem; margin-top: 5px; font-weight: 700;">Stock VIP Limitado</p>
</header>

<div class="container" style="padding-top: 0;">
    <div class="grid-botones" data-aos="zoom-in">
        <a href="{{ url_for('distribuidores.distribuidores') }}" class="btn-universal" style="background:var(--primary); color:#000;"><i class="fas fa-briefcase" style="margin-right: 5px;"></i> Volver Atras</a>
        <a href="{{ url_for('main.inicio') }}" class="btn-universal" style="background:var(--glass); color:#fff; border:1px solid var(--glass-border);"><i class="fas fa-home" style="margin-right: 5px;"></i> INICIO DEL PANEL</a>
    </div>
</div>
    
<div class="container" id="product-container">
    <div class="category-title" data-aos="fade-right" style="border-left-color: var(--vip); color: var(--vip);"><i class="fas fa-crown"></i> COMBOS EXCLUSIVOS</div>
    

    <div class="service-item premium oferta" onclick="toggleCarrito(this)" data-aos="fade-up">
        <div class="service-card">
            <div class="badge-oferta">+1 mes gratis</div>
            <div class="check-icon">✓</div>
            <div class="img-wrapper"><div class="skeleton"></div><img src="{{ url_for('static', filename='img/iptvp.webp') }}" class="service-logo" onload="this.classList.add('loaded')"></div>
            <div class="service-text">
                <h3 class="nombre-prod">IPTV PREMIUM CUENTA(3 meses)</h3>
                <div class="product-tags">
                    <span class="tag-prop"><i class="fas fa-users"></i> 3 Dispositivos</span>
                    <span class="tag-prop"><i class="fas fa-star"></i> 104 Partidos</span>
                </div>
            </div>
            <div class="price-container">
                <span class="price-tag precio-prod">S/ 45</span>
            </div>
        </div>
    </div>

    <!-- PEGA AQUÍ TUS TARJETAS DE PROMOS DISTRIBUIDORES -->

</div>
{% endblock %}