{% extends "base.html" %}

{% block content %}
<header>
    {% include 'titulos/distribuidores.html' %}
</header>

    {% include 'distribuidores/filtros_navegaciones.html' %}
    
<div class="container" id="product-container">
    
    {% include 'distribuidores/cuentas.html' %}

    {% include 'distribuidores/perfiles.html' %}
    
    {% include 'distribuidores/musica.html' %}

    {% include 'distribuidores/iptvflujo.html' %}

    {% include 'distribuidores/apppaga.html' %}

    {% include 'distribuidores/diseño.html' %}

</div>
{% endblock %}
