{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/guias.css') }}">

<div class="container contenedor-retroceso">
    <div class="btn-retroceso-wrapper">
        <a href="javascript:history.back()" class="btn-universal btn-retroceso">
            <i class="fas fa-arrow-left"></i> VOLVER ATRÁS
        </a>
    </div>
</div>      

<div class="container mt-4 mb-5">
    <div class="guias-header">
        <h2 class="guias-title">
            <i class="fas fa-images"></i> GUÍAS PASO A PASO
        </h2>
        <p class="guias-subtitle">Desliza para ver cómo activar cada plataforma.</p>
    </div>

    <div class="row">
{% include 'guias/1_nettv.html'%}
{% include 'guias/2_netcel.html'%}
{% include 'guias/3_disneytv.html'%}
    </div>

    

<script src="{{ url_for('static', filename='js/guias.js') }}"></script>
{% endblock %}